/* === CSS Boilerplate === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
 
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.card{
  background-color: rgba(6, 78, 73, 0.279);
  padding: 20px;
  margin: 20px;
  width: 400px;
  border-radius: 10px;
  color:white;
  
}
.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50px;
  position: relative;
  right: 10px
}
.card p{
  margin: 10px 0;
}
.card h1{
  position: relative;
  bottom: 90px;
  left: 110px;
}
.btn{
  background-color: rgb(43, 141, 226);
  color: white;
  border:none;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 5px;
  
}
.btn:hover{
   background-color: rgb(163, 139, 184);
}
.nav{
  background-color: rgb(13, 197, 225);
  color:white;
  padding: 20px;
  margin: 5px;

}
